@import url("//hello.myfonts.net/count/3c70a5");
  
/* Recoletta */

@font-face {
  font-family: 'CalSans';
  src: url('./fonts/CalSans-SemiBold.woff2') format('woff2');
}

/* Basis Grotesque */

@font-face {
    font-family: 'BasisGrotesquePro';
    src: url('./fonts/basis/bold/basis-grotesque-bold-pro.woff2') format('woff2'),
         url('./fonts/basis/bold/basis-grotesque-bold-pro.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BasisGrotesquePro';
    src: url('./fonts/basis/bold-italic/basis-grotesque-bold-italic-pro.woff2') format('woff2'),
         url('./fonts/basis/bold-italic/basis-grotesque-bold-italic-pro.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'BasisGrotesquePro';
    src: url('./fonts/basis/regular/basis-grotesque-regular-pro.woff2') format('woff2'),
         url('./fonts/basis/regular/basis-grotesque-regular-pro.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BasisGrotesquePro';
    src: url('./fonts/basis/regular-italic/basis-grotesque-italic-pro.woff2') format('woff2'),
         url('./fonts/basis/regular-italic/basis-grotesque-italic-pro.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}